.confirmation-page {
  padding: 50px 0;
}

.confirmation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirmation-container .qr-code {
  max-width: 50px; /* Adjust the width as needed */
}
.column-size {
  width: 100px; /* Adjust the width as needed */
}

.confirmation-title {
  margin-bottom: 20px; 
}

.spinner {
  margin-top: 20px;
}

.error-message {
  margin-top: 20px;
}

.confirmation-info {
  text-align: left;
}

.column-size {
  width: 50px; /* Adjust the width as needed */
}

.column-size1 {
  width: 20%; /* Adjust the width as needed */
}


td, th,tr {
  text-align: center; /* Center the text horizontally */
  vertical-align: middle; /* Center the text vertically */
  font-size: 21px; /* Adjust the font size */
  font-weight: normal; /* Adjust the font weight */
 
}

.no-repetition-message {
  margin-top: 20px;
  padding: 10px;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  color: #721c24;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}


